.linkTag {
  text-decoration: none;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
header .navBar {
  background: white;
}
header .navBar .navList .nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: capitalize;
}
header .navBar .navList .nav-link:hover {
  color: #F47B20;
}
header .navBar .navList .dropdown-menu {
  background: #F47B20;
  border-radius: 0px;
  padding: 5px;
}
header .navBar .navList .dropdown-menu .dropdown-item {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}
header .navBar .navList .dropdown-menu .dropdown-item.sub {
  padding-left: 30px;
  font-size: 14px;
}
header .navBar .navList .dropdown-menu .dropdown-item:hover {
  color: black;
}
header .navBar .navList .dropdown-menu .dropdown-item:active {
  background: #F47B20;
  color: white;
}
header .navBar .likeCartPro {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .navBar .likeCartPro .iconBox {
  position: relative;
}
header .navBar .likeCartPro .iconBox span {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 18px;
  width: 18px;
  background: #F47B20;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.topSlider .swiper-pagination {
  scale: 1.4;
  padding-bottom: 20px;
}
.topSlider .swiper-pagination .swiper-pagination-bullet {
  background: #F47B20;
}

.shopTopCatDiv {
  padding-top: 100px;
  padding-bottom: 120px;
  background: white;
}
.shopTopCatDiv .head {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
.shopTopCatDiv .catCarousel {
  padding-top: 112px;
  position: relative;
}
.shopTopCatDiv .catCarousel .bannerImg {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.shopTopCatDiv .catCarousel .catName {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.shopTopCatDiv .catCarousel .navBtns {
  display: flex;
  position: absolute;
  top: 30px;
  right: 0px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.shopTopCatDiv .catCarousel .navBtns .navBtn {
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  background: black;
  font-size: 24px;
  cursor: pointer;
}
.shopTopCatDiv .catCarousel .navBtns .navBtn .iconn {
  color: white;
}
.shopTopCatDiv .catCarousel .navBtns .navBtn.swiper-button-disabled {
  background: grey;
}

.allProductsMain {
  padding-top: 80px;
  padding-bottom: 80px;
}
.allProductsMain .catDiv {
  margin-top: 25px;
}
.allProductsMain .catDiv .head {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 13px;
  border-bottom: 1px solid #D1D1D1;
}
.allProductsMain .catDiv .options .option {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.allProductsMain .catDiv .options .option .text {
  flex: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.allProductsMain .catDiv .options .option .icoBox {
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border: 1px solid rgb(165, 165, 165);
  font-size: 14px;
}
.allProductsMain .companyDiv {
  margin-top: 20px;
}
.allProductsMain .companyDiv .head {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 13px;
}
.allProductsMain .companyDiv select {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #D1D1D1;
  outline: none;
}
.allProductsMain .companyDiv select option {
  padding: 5px 10px;
  background: #F47B20;
  color: white;
}
.allProductsMain .priceDiv {
  margin-top: 20px;
}
.allProductsMain .priceDiv .head {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 13px;
}
.allProductsMain .priceDiv .value {
  font-weight: 300;
  font-size: 20px;
}
.allProductsMain .priceDiv input {
  width: 100%;
  display: block;
  margin-top: 10px;
  accent-color: #F47B20;
  scale: 1;
  transition: all 0.3s;
}
.allProductsMain .priceDiv input:hover {
  scale: 1.1;
}
.allProductsMain .clearDiv {
  margin-top: 40px;
}
.allProductsMain .clearDiv .clrBtn {
  border: none;
  width: 180px;
  background: #F47B20;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 9px;
  display: block;
  margin: auto;
  scale: 1;
  transition: all 0.2s;
}
.allProductsMain .clearDiv .clrBtn:hover {
  background: black;
  color: white;
  scale: 1.2;
}
.allProductsMain .vievDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allProductsMain .vievDiv .viewOpts {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.allProductsMain .vievDiv .viewOpts .box {
  height: 26px;
  width: 26px;
  background: rgb(202, 202, 202);
  display: grid;
  place-items: center;
  color: white;
  transition: all 0.3s;
}
.allProductsMain .vievDiv .viewOpts .box.active {
  background: black;
}
.allProductsMain .vievDiv select {
  outline: none;
  padding: 5px 10px;
  border: 1px solid rgb(189, 189, 189);
}
.allProductsMain .vievDiv select option {
  background: #F47B20;
  color: white;
}
.allProductsMain .productsDiv {
  padding-top: 30px;
}
.allProductsMain .productsDiv .product .imgBox {
  border: 1px solid #D1D1D1;
  padding: 33px 11px 11px 11px;
  position: relative;
}
.allProductsMain .productsDiv .product .imgBox .productImg {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.allProductsMain .productsDiv .product .imgBox .likeDivb {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  color: #F47B20;
}
.allProductsMain .productsDiv .product .proName {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 14px;
}
.allProductsMain .productsDiv .product .price {
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.allProductsMain .productsDiv .productListView {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.allProductsMain .productsDiv .productListView .imgBox {
  border: 1px solid #D1D1D1;
  padding: 33px 11px 11px 11px;
  position: relative;
}
.allProductsMain .productsDiv .productListView .imgBox .productImg {
  width: 200px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.allProductsMain .productsDiv .productListView .imgBox .likeDivb {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  color: #F47B20;
}
.allProductsMain .productsDiv .productListView .content {
  flex: 1;
}
.allProductsMain .productsDiv .productListView .content .proName {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 14px;
}
.allProductsMain .productsDiv .productListView .content .price {
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.singleProMain {
  padding-top: 50px;
  padding-bottom: 50px;
}
.singleProMain .porImgsSec .mainImg img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1;
}
.singleProMain .proDescMain .name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.singleProMain .proDescMain .desc {
  margin-top: 13px;
}
.singleProMain .proDescMain .price {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-top: 18px;
}
.singleProMain .proDescMain .sizes {
  bottom: 1px solid grey;
  padding-top: 18px;
}
.singleProMain .proDescMain .sizes .had {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.singleProMain .proDescMain .sizes .size {
  height: 45px;
  width: 45px;
  background: #D1D1D1;
  color: white;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.singleProMain .proDescMain .sizes .size.active {
  background: #F47B20;
}
.singleProMain .proDescMain .colors {
  margin-top: 22px;
}
.singleProMain .proDescMain .colors .had {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.singleProMain .proDescMain .colors .color {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.singleProMain .proDescMain .colors .color.active {
  outline: 1px solid #F47B20;
  outline-offset: 2px;
}
.singleProMain .proDescMain .qtySelector {
  margin-top: 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.singleProMain .proDescMain .qtySelector .head {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.singleProMain .proDescMain .qtySelector select {
  outline: none;
  border-radius: 0px;
  padding: 5px 8px;
}
.singleProMain .proDescMain .qtySelector select option {
  background: #F47B20;
  color: white;
}
.singleProMain .proDescMain .cartWish {
  margin-top: 47px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.singleProMain .proDescMain .cartWish .cart {
  border: none;
  width: 180px;
  padding: 14px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  background: #F47B20;
}
.singleProMain .proDescMain .cartWish .wish {
  border: 1px solid #000000;
  padding: 14px;
  color: #000000;
  width: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background: white;
  font-weight: 700;
}

.cartSectionMain {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cartSectionMain .heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 27px;
}
.cartSectionMain .leftSec .itemBox {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
}
.cartSectionMain .leftSec .itemBox .proImg {
  width: 180px;
  border: 1px solid grey;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}
.cartSectionMain .leftSec .itemBox .pcontent {
  flex: 1;
  padding-left: 30px;
  position: relative;
}
.cartSectionMain .leftSec .itemBox .pcontent .name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.cartSectionMain .leftSec .itemBox .pcontent .size, .cartSectionMain .leftSec .itemBox .pcontent .color {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.cartSectionMain .leftSec .itemBox .pcontent .price {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.cartSectionMain .leftSec .itemBox .pcontent .remove {
  position: absolute;
  bottom: 0px;
  right: 30px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 71, 71);
  cursor: pointer;
}
.cartSectionMain .leftSec .itemBox .pcontent .qtySelect {
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
  align-items: center;
}
.cartSectionMain .leftSec .itemBox .pcontent .qtySelect .head {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.cartSectionMain .leftSec .itemBox .pcontent .qtySelect select {
  padding: 0px 5px;
  border-radius: 0px;
  outline: none;
}
.cartSectionMain .leftSec .itemBox .pcontent .qtySelect select option {
  background: #F47B20;
  color: white;
}
.cartSectionMain .rightSec .orderWrapper .orderBox {
  background: white;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .head {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .yogaPlan {
  margin-top: 11px;
  font-weight: 600;
  color: #F47B20;
  letter-spacing: 0.48px;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv {
  padding-top: 20px;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .droDiv {
    padding-top: 10px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain {
  position: relative;
  background: #E2D7C6;
  width: 109px;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain .seleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain .seleDiv .seleText {
  font-weight: 500;
  font-size: 16px;
  color: #3D4039;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain .seleDiv .iconn {
  font-size: 16px;
  color: #3D4039;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain .selOptions {
  display: none;
  position: absolute;
  left: 0px;
  top: 34px;
  right: 0px;
  background: #E2D7C6;
  z-index: 2;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .droDiv .chDropMain .selOptions .opt {
  font-weight: 500;
  font-size: 16px;
  color: #3D4039;
  padding: 5px 10px;
  cursor: pointer;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .divider {
  margin-top: 20px;
  border-bottom: 1px dashed #F47B20;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .divider {
    margin-top: 10px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .itemRow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .itemRow {
    margin-top: 10px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .itemRow .textl,
.cartSectionMain .rightSec .orderWrapper .orderBox .itemRow .textr {
  font-weight: 500;
  font-size: 16px;
  color: #3D4039;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .itemRow .textl,
.cartSectionMain .rightSec .orderWrapper .orderBox .itemRow .textr {
    font-size: 14px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .boldRow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .boldRow {
    margin-top: 10px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .boldRow .Textl {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .boldRow .Textl {
    font-size: 14px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .boldRow .Textr {
  font-size: 23px;
  color: #F47B20;
  letter-spacing: 0.69px;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .boldRow .Textr {
    font-size: 18px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .PayNow {
  display: block;
  margin-top: 40px;
  width: 100%;
  background: #FCD406;
  border: none;
  padding: 9px;
  font-size: 16px;
  font-weight: 500;
  color: #3D4039;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 570px) {
  .cartSectionMain .rightSec .orderWrapper .orderBox .PayNow {
    margin-top: 20px;
  }
}
.cartSectionMain .rightSec .orderWrapper .orderBox .PayNow .iconn {
  margin-left: 5px;
  transition: all 0.2s;
}
.cartSectionMain .rightSec .orderWrapper .orderBox .PayNow:hover .iconn {
  margin-left: 10px;
}/*# sourceMappingURL=home.css.map */